{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container" style="overflow-x: scroll;white-space: nowrap;">
        <h1>Blocks on chain</h1>
        <p>Cards represent blocks on the blockchain with their transactions.</p>
        {% for block in BCI.getBlocks() %}
            <a href="{{ url_for('getTransactions', hash=block.hash) }}">
            <div class="card" type="submit">
                <div class="card-body">
                    <h5 class="card-title">Block {{ loop.index }}
                        {% if block.previousHash == "0" %}
                            <small class="text-muted">(Genesis block)</small>
                        {% endif %}
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="">Hash</span>
                        <br>
                        <div class="text-truncate">
                            <small>{{ block.hash }}</small>
                        </div>
            
                        <br>
                        <span class="">Hash of previous block</span>
                        <br>
            
                        <div class="text-truncate">
                            <small>{{ block.previousHash }}</small>
                        </div>
                    </li>
            
                    <li class="list-group-item">
                        <span class="">Nonce</span>
                        <br>
                        <div class="text-truncate text-muted">
                            <small>{{ block.nonce }}</small>
                        </div>
                    </li>
            
                    <li class="list-group-item">
                        <span class="">Timestamp</span><br>
                        <div class="text-truncate text-muted">
                            <small>{{ block.timestamp }}</small>
                        </div>
                    </li>
                </ul>
            </div>
        </a>
        {% endfor %}
        <script>
            $("div.card").hover(
                function(){$(this).addClass("border-primary")},
                function(){$(this).removeClass("border-primary")}
            );
        </script>
    </div>
{% endblock %}