{% extends "layout.html" %}

{% block main%}
<div class="container">

	<h1>Pending transactions</h1>
	<p>These transactions are waiting to be included in the next block. Next block is created when you start the mining process.</p>

	<table class="table table-hover table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Amount</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Valid?</th>
            </tr>
        </thead>
        <tbody>
            {% for tx in pendingTransactions %}
                <tr>
                    <td>{{ loop.index0 }}</td>
                    <td class="text-truncate" style="max-width: 100px;">
                        {% if tx.fromAddress != None %}
                            {{ tx.fromAddress }}
                        {% else %}
                            <span>System</span>
                        {% endif %}
                    </td>
                    <td class="text-truncate" style="max-width: 100px;">
                        {{ tx.toAddress }}<br>
                    </td>
                    <td>
                        {{ tx.amount }}
                        {% if tx.fromAddress == None %}
                            <span class="text-muted"><br><small>(Block reward)</small></span>
                        {% endif %}
                    </td>
                    <td>
                        {{ tx.timestamp }}
                    </td>
                    <td style="max-width: 40px;">
                        {% if tx.isValid() == True %}
                            <span>✓</span>
                        {% else %}
                            <span>✗</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <form action="/transactions/pending" method="post">
        <button class="btn btn-primary" type="submit" >
            Start mining
        </button>
    </form>
</div>
{% endblock %}